# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
*.env
.env.*
.env

# Flask / Instance folder
instance/
uploads/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Flask cache
*.db
*.sqlite3

# Logs
*.log
logs/
log/

# macOS files
.DS_Store

# VSCode / Editor files
.vscode/
.idea/

# PythonAnywhere specific
staticfiles/

